* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f0f0f0;
}

.container {
    margin: 0px;
    cursor: pointer;
}

.text {
    font-size: 80px;
    font-family: Arial, sans-serif;
    text-align: left;
    line-height: 0.9;
}

.text div {
    display: block;
    transition: transform 100s ease;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.wind-link {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #007BFF;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}


@media (max-width: 768px) {
    .text {
        font-size: 65px;
    }

    .container {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .text {
        font-size: 65px;
    }

    .container {
        margin: 5px;
    }
}