* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ecf4fb;
}

.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 1s ease;
}

.img-gallery img:hover {
    transform: scale(0.9);
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

/* Wrapper */
.imageWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.imageWrapper img {
    width: 100%;
    max-width: 400px;
}

.imageWrapper span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    cursor: pointer;
}


.back-button {
    position: fixed;
    top: 34px;
    /* Отступ сверху */
    left: 18px;
    /* Отступ слева */
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 50%;
    /* Круглая форма */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Тень */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Плавные переходы */
    z-index: 1000;
    /* кнопка поверх других элементов */
}

.back-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.4) 25%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.4) 75%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.back-button:hover::after {
    opacity: 1;
    /* Показываем блик при наведении */
}

/* Эффект при наведении */
.back-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
    /* Увеличиваем кнопку */
}